<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ParsePlus | Parse Xml and Excel Documents</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Assert/js/jquery.form.js"></script>
    <link href="/Assert/css/main.css" rel="stylesheet" />
    <script src="/Assert/js/main.js"></script>

</head>
<body>
    <div class="main">
        <h1>ParsePlus</h1>
        @RenderBody()
    </div>
</body>
</html>
